

ion-item {
    --ion-item-background: transparent;
}

.text-final {
  width: 320px;
  font-size: 12px;
  color: #000000;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
  max-width: 200px;
}



.texto{
  text-align: justify;
  font-size: medium;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}






// backgrounds //
.bg-white {
  background-color: #fff;
}
  
  .bg-light {
    background-color: var(--ion-color-light);
  }
  
  .bg-dark {
      background-color: var(--ion-color-dark);
  }
  
  .bg-primary {
      background-color: var(--ion-color-primary);
  }
  
  .bg-secondary {
      background-color: var(--ion-color-secondary);
  }
  
  .bg-tertiary {
      background-color: var(--ion-color-tertiary);
  }
  
  .bg-profile {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-danger))
  }

  .bg-green {
    background-image: linear-gradient(135deg, var(--ion-color-green), var(--ion-color-medium))
  }
  
  .bg-main {
      background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-dark))
  }



  
  // style for auth pages
  .auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  
    .grid {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  
    .btn-group {
      .button-ios,
      .button-md {
        border-radius: 0;
        &:first-of-type {
          border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  
    .auth-content {
      margin: 0 5%;
        

      .todo {
        width: 100%;
        display: flex;
        justify-content: center; /* Alinha o formulário horizontalmente */
      }
  
      .list-form {
        padding: 0;
        margin-bottom: 0;
        width: 100%; /* Ocupa toda a largura disponível */
        max-width: 400px; /* Limita a largura máxima para não se espalhar muito */
      }
      ion-item {
        background: none;
        padding: 0;
        margin-bottom: 15px; /* Adiciona margem inferior para espaçamento */
      
        &:first-child {
          border-top: none;
        }
      
        &:after {
          display: none;
        }
      
        ion-label {
          font-size: 1em;
          color: var(--ion-color-light);
        }
      
        input {
          color: var(--ion-color-light);
        }
      }
    }
  
  }
  
  // Custom Menu styles (overriding Shadow DOM)
  ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-medium), var(--ion-color-dark)) !important;
        }
      }
    }
  }
  
  .mto {
    margin-top: 12px;
    ion-icon {
      margin-bottom: -2px;
    }
  }

  .reset{
    margin-top: 35px;
  }


  .icon-add{
    color: #FFF;
  }


  .form-registrar {
    --background: linear-gradient(135deg, var(--ion-color-medium), var(--ion-color-dark))
  }

  .branco{
      color: #FFF;
  }

  .red{
    color: red;
}

.green{
  color: green;
}



    
    :host {
        ion-content {
          --background: linear-gradient(90deg, rgba(2,66,1,0.4066001400560224) 0%, rgba(0,0,0,0.700717787114846) 100%);
            background-image: url('../../assets/fazenda1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }
    }
    
    .paz {
        position: relative;
        z-index: 10;
    }
    
    
    .center{
        margin:0 auto;
        text-align:center;
    }

    

    