<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="backInicio()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login auth-page">
  <div class="auth-content">
    <div class="image center">
      <h4 no-margin>
        <img src="../../assets/LogoAgro-removebg-preview.png" alt="Logo" class="img-login" />
      </h4>
    </div>

    <div class="todo">
      <div class="list-form">
        <ion-item class="label">
          <ion-label position="floating">
            <ion-icon name="lock-closed" item-start></ion-icon> Senha
          </ion-label>
          <ion-input [(ngModel)]="senha" type="password"></ion-input>
        </ion-item>

        <ion-item class="label">
          <ion-label position="floating">
            <ion-icon name="lock-closed" item-start></ion-icon> Confirmar senha
          </ion-label>
          <ion-input [(ngModel)]="confirmarSenha" type="password"></ion-input>
        </ion-item>

        <ion-button class="reset" expand="full" shape="round" (click)="resetPass()">
          <ion-icon name="refresh"></ion-icon> Redefinir
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
