<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        tabindex="0"
        (click)="back()"
        (keydown.space)="back()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="user-info-card">
    <ion-card-content>
      <ion-button
        tabindex="0"
        expand="block"
        (click)="presentAlertConfirm(idUsuario, perfil)"
        (keydown.enter)="onKeydownEnter($event)"
        (keydown.space)="onKeydownEnter($event)">
        {{ perfil === 'FUNCIONARIO' ? 'Bloquear Conta' : 'Excluir Conta' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
