.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: var(--ion-color-medium);
  }


  .empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--ion-color-medium);
}

.empty-state p {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.success {
  --background: #d4edda;
  --color: #155724;
}

.danger {
  --background: #f8d7da;
  --color: #721c24;
}
