

<ion-content class="ion-padding">
  <ion-button id="open-gastos-barras" expand="block">Gastos - Barras</ion-button>
  
  
  <ion-modal trigger="open-gastos-barras" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" [strong]="true">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
          <app-chart-solicitacoes></app-chart-solicitacoes>
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>

