

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab Gráfico</ion-title>
      
    </ion-toolbar>
    
  </ion-header>

  <app-explore-container name="Tab Gráficos"></app-explore-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="exibirAlerta('DEMO, ESTÁ PÁGINA ESTARA DISPONÍVEL EM BREVE JUNTAMENTE COM O CADASTRO DE INSUMOS')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
