// ion-tab-bar{
//     position: absolute;
//     bottom: 0;
//     width: 90%;
//     --background: rgba(245, 245, 245, 0.468);

//     align-self: center;
//     border-radius: 20px;
//     margin-bottom: 10px;

//     ion-tab-button{
//         --background: rgba(0,0,0,0.468);
//     }


// }