<ion-menu side="end" content-id="main-content">
  <ion-header>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item button>
        <ion-icon name="planet-outline" slot="start"></ion-icon>
        <ion-label>Universo UFLA</ion-label>
      </ion-item>
      <ion-item button>
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
      <ion-item button color="danger" (click)="sair()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="titulo-home">Administrador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goUnidades()">
        <ion-icon name="hammer"></ion-icon>
      </ion-button> 
        <ion-menu-button id="main-content"></ion-menu-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Exibe a lista se houver itens -->
  <ion-list *ngIf="itens.length > 0; else semUsuarios">
    <ion-item *ngFor="let item of itens">
      <ion-label>
        <h2>{{item.idusuarios}} - {{ item.nome }}</h2>
        <p>CPF: {{ item.cpf }}</p>
        <p>Email: {{ item.email }}</p>
        <small>{{item.perfil}}</small>
      </ion-label>

      <ion-buttons slot="end">
        <!-- Botão de Edição -->
        <ion-button (click)="confirmarUsuario(item)">
          <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
        </ion-button>


        <!-- Botão de Exclusão -->
        <ion-button color="danger" (click)="confirmarExclusaoUsuario(item)" >
          <ion-icon slot="icon-only" name="close-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Mensagem se não houver usuários -->
  <ng-template #semUsuarios >
      <ion-label class="empty-message">Nenhum usuário para ser autenticado encontrado.</ion-label>
  </ng-template>
</ion-content>
