<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
      <ion-buttons color="light" slot="end">
        <ion-button (click)="fecharMenu()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="goProfile()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item button>
        <ion-icon name="planet-outline" slot="start"></ion-icon>
        <ion-label>Universo UFLA</ion-label>
      </ion-item>
      <ion-item button (click)="goConfiguration()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
    </ion-list>
    <div style="position: absolute; bottom: 0; width: 100%">
      <ion-item button color="danger" (click)="sair()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="medium">
    <ion-title class="titulo-home">Administrador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goUnidades()">
        <ion-icon name="hammer"></ion-icon>
      </ion-button>
      <ion-menu-button id="main-content"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-no-scroll">
  <!-- Exibe a lista de usuários se houver itens -->
  <ion-list
    *ngIf="usuarios.length > 0 && tipo === 'usuarios'; else semUsuarios"
  >
    <ion-item *ngFor="let item of usuarios">
      <ion-label>
        <h2>{{ item.idusuarios }} - {{ item.nome }}</h2>
        <p>CPF: {{ item.cpf }}</p>
        <p>Email: {{ item.email }}</p>
        <small>{{ item.perfil }}</small>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="confirmarUsuario(item)">
          <ion-icon
            slot="icon-only"
            name="checkmark"
            color="success"
          ></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="confirmarExclusaoUsuario(item)">
          <ion-icon
            slot="icon-only"
            name="close-outline"
            color="danger"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #semUsuarios>
    <div *ngIf="tipo == 'usuarios'" class="empty-state">
      <ion-icon name="alert-circle-outline" size="large"></ion-icon>
      <p>Nenhum Usuário para ser autenticado encontrado.</p>
    </div>
  </ng-template>
</ion-content>
