#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  .content-no-scroll {
    padding: 0;
    overflow: hidden;
  } 

  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }


ion-label h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000000; /* Cor mais escura para melhor contraste */
  margin-bottom: 5px;
}

ion-label p {
  font-size: 14px;
  color: #004615; /* Cor mais escura para legibilidade */
}

ion-button[slot="end"] {
  --background: transparent;
}

ion-icon[name="close-outline"] {
  font-size: 26px;
}

ion-item[button] {
  --background-hover: rgba(3, 71, 5, 0.1);
}

ion-item[button]:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

div ion-item[color="danger"] {
  --background: #d32f2f;
  color: #fff;
}

div ion-item[color="danger"]:hover {
  --background: #c62828;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: var(--ion-color-medium);
  }


  .empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: var(--ion-color-medium);
}

.empty-state p {
  font-size: 18px;
  text-align: center;
}



  