.header-item {
  
}

.user-info-card {
  margin-top: 20px;
}

.menu-header-item {
  --padding-start: 16px;
  --padding-end: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-label h2 {
  font-size: 18px;
  font-weight: bold;
}

ion-label p {
  font-size: 14px;
  color: var(--ion-color-medium);
}

ion-item ion-icon {
  color: var(--ion-color-primary);
}


.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: var(--ion-color-medium);
  }


  .empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--ion-color-medium);
}

.empty-state p {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
