<div *ngIf="loading" class="loading-indicator">
  Carregando dados...
</div>
<div *ngIf="!loading">
  <h3>Relatório de Gastos - Ano: {{ currentYear }}</h3>
  <apx-chart
    *ngIf="chartOptions"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [legend]="chartOptions.legend">
  </apx-chart>
</div>
