
<ion-content  class="ion-padding animated fadeIn login auth-page">

  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-button (click)="backInicio()">
        <ion-icon color="dark" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="../../assets/brasil24.png">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <div class="auth-content" >
    

    <div  class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-input labelPlacement="stacked" label="Nome" color="light" placeholder="Seu nome..." type="text" [(ngModel)]="nome" 
        [maskito]="userNameMask"
        [maskitoElement]="maskPredicate"> <ion-icon slot="start" name="people" color="light" aria-hidden="true"></ion-icon></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp">
        <ion-input labelPlacement="stacked" label="Cpf" color="light" placeholder="Seu Cpf" type="text" [(ngModel)]="cpf"
        [maskito]="cpfMask"
        [maskitoElement]="maskPredicate"> <ion-icon slot="start" name="person" color="light" aria-hidden="true"></ion-icon></ion-input>
        </ion-item>

        <ion-item no-padding class="animated fadeInUp">
          <ion-input labelPlacement="stacked" label="Telefone" color="light" placeholder="Seu telefone..." type="text" [(ngModel)]="telefone"
          [maskito]="telefoneMask"
          [maskitoElement]="maskPredicate"> <ion-icon slot="start" name="phone-portrait"color="light" aria-hidden="true"></ion-icon></ion-input>
      </ion-item> 

        <ion-item no-padding class="animated fadeInUp">
          <ion-input labelPlacement="stacked" label="Email" color="light" placeholder="Seu email..." type="text" [(ngModel)]="email"> <ion-icon slot="start" name="mail" color="light" aria-hidden="true"></ion-icon></ion-input>
      </ion-item> 


      <ion-item no-padding class="animated fadeInUp">
        <ion-input labelPlacement="stacked" label="Senha" color="light" placeholder="Sua senha..." type="password" [(ngModel)]="senha"> <ion-icon slot="start" name="lock-closed" color="light" aria-hidden="true"></ion-icon></ion-input>
      </ion-item>

      <ion-item no-padding class="animated fadeInUp">
        <ion-input labelPlacement="stacked" label="confirmar Senha" color="light" placeholder="Sua confirmação de Senha..." type="password" [(ngModel)]="confirmarSenha"> <ion-icon slot="start" name="lock-open" color="light" aria-hidden="true"></ion-icon></ion-input>
      </ion-item>

        
    </div>

    <br><br>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="cadastrarUsuario()" tappable>
        <ion-icon slot="start" color="primary" name="log-in-outline"></ion-icon>
        Confirmar
      </ion-button>

      <br>

      <p class="text09">Já possui uma conta?
        <a (click)="goLogin()" class="login">Login</a>
      </p>
      
    </div>

  </div>
</ion-content>
