<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="user-info-card">
    <ion-card-header>
      <ion-card-title>Informações do Usuário</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label><strong>Nome:</strong> {{ usuario.nome }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label><strong>CPF:</strong> {{ usuario.cpf }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label><strong>Email:</strong> {{ usuario.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
          <ion-label
            ><strong>Telefone:</strong> {{ usuario.telefone }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="briefcase-outline" slot="start"></ion-icon>
          <ion-label><strong>Perfil:</strong> {{ usuario.perfil }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button
      (click)="editar(usuario.nome, usuario.cpf, usuario.email, usuario.telefone)">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="user-info-card">
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-input label="Senha atual" [(ngModel)]="senhaAtual" labelPlacement="floating" type="password" [counter]="true" [maxlength]="perfil === 'FUNCIONARIO' ? 8 : 200"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
          label="Nova Senha" 
          [(ngModel)]="novaSenha" 
          labelPlacement="floating" 
          type="password" 
          [counter]="true" 
          [maxlength]="perfil === 'FUNCIONARIO' ? 8 : 200">
        </ion-input>
      </ion-item>
      <ion-item> 
        <ion-input label="Confirmar Nova senha" [(ngModel)]="confirmarSenha" labelPlacement="floating" type="password" [counter]="true" [maxlength]="perfil === 'FUNCIONARIO' ? 8 : 200"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="perfil === 'FUNCIONARIO' ? alterarSenhaFunc() : alterarSenha()">{{ perfil === 'FUNCIONARIO' ? 'Editar Senha' : 'Alterar Senha' }}</ion-button>
  </ion-card-content>
</ion-card> 



<ion-modal [isOpen]="isModalOpen">
   <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title> Editar informações</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setModalOpen(false)">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" [(ngModel)]="nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">CPF</ion-label>
          <ion-input type="text" [(ngModel)]="cpf"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefone</ion-label>
          <ion-input type="text" [(ngModel)]="telefone"></ion-input>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-button expand="block" color="success"  (click)="editarUsuario()">Salvar Alterações</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
