ion-item {
  --ion-item-background: transparent;
}

ion-icon {
  color: green;
}

.auth-content {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  background-color: rgba(255, 255, 255, 0.473);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.auth-content .btns-container {
  background-color: none;
  width: 100%;
  gap: 12px;
  max-width: 720px;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 12px;
}

.auth-content .btns-container ion-button:hover {
  color: #FFF;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  transform: translateY(-2px);
}
  



.form-registrar {
  --background: linear-gradient(135deg, var(--ion-color-medium), var(--ion-color-dark))
}


:host {
  ion-content {
    --background: none;
    background-image: url('../../assets/fazenda1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}


.auth-content .image ion-img {
  width: 180px;
  height: auto;
  margin: 0 auto; 
  display: block; 
}


@media (max-width: 768px) {
    .auth-content {
        position: relative;
        top: auto;
        left: auto; 
        transform: none;
        width: 100%; 
        background-color: transparent;
        border-radius: 0;
        padding: 20px; 
        box-sizing: border-box;
    }

    .auth-content .btns {
        padding: 0; 
    }
}



