ion-item {
  --ion-item-background: transparent;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 500px;
}

ion-icon {
  color: green;
}

.sobre {
  color: green;
}

.icoTop {
  color: green;
}

.texto {
  text-align: justify;
  font-size: medium;
}

.logo {

  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  max-width: 500px;
  align-items: center;
}



strong {
  color: #003DB5;
}

.auth-content {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 720px;
  background-color: rgba(45, 44, 44, 0.344); 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.auth-content .btns {
  background-color: none;
  width: 100%;
  gap: 12px;
  max-width: 720px;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 12px;
}

.auth-content .btns ion-button:hover{
  color: #FFF;
  transition: background-color 0.3s ease;
  border-radius: 12px;
  font-weight: bold;
  padding: 1px;
  border-radius: 12px;
  
}
  

// Custom Menu styles (overriding Shadow DOM)

.mto {
  margin-top: 12px;

  ion-icon {
    margin-bottom: -2px;
  }
}


.icon-add {
  color: #FFF;
}


.form-registrar {
  --background: linear-gradient(135deg, var(--ion-color-medium), var(--ion-color-dark))
}

.branco {
  color: #FFF;
}

.red {
  color: red;
}

.green {
  color: green;
}




:host {
  ion-content {
    --background: none;
    background-image: url('../../assets/fazenda1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.img-login {
  width: 80px;
  margin: 0;
}

.center {
  margin: 0 auto;
  text-align: center;
}


@media (max-width: 768px) {
  .auth-content {
    position: relative; /* Remove o posicionamento fixo */
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    top: 0; /* Alinha ao topo da tela */
    left: 0; /* Alinha à esquerda da tela */
    transform: none; /* Remove a transformação de centralização */
    max-width: 100%; /* Largura máxima de 100% da tela */
    background-color: transparent; /* Remove o fundo */
    padding: 0; /* Ajusta para seguir o padrão do Ionic */
    border-radius: 0; /* Remove bordas arredondadas */
  }
}

