

<ion-content class="ion-padding auth-page">

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Sobre o aplicativo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p class="texto">
          Aplicativo desenvolvido para o projeto PROAT de Desenvolvimento de Softwares Gerenciais.
          <br>
          <br>
          Aplicações de gerenciamento são de grande utilidade devido à sua praticidade em diversos sistemas de gerenciamento. Como atualmente o acesso à internet vem crescendo bastante, a rotina de gerenciamento de recursos por meio da escrita ficou ineficiente e quase inutilizável. Aplicativos que gerenciam o básico de certos recursos de produção, seja ele mão de obra ou insumos, se tornaram interessantes por promover mais eficiência e gestão de tempo para quem utiliza. O trabalho foi criado para gestão de fazendas e permite que pequenos produtores gerenciem seus recursos e fazendas.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <div class="auth-content">

    <div class="logo-container">
      <img src="../../assets/LogoAgroOnline.png" alt="AgroOnline">
    </div>

    <div class="btns-container">
      <ion-button expand="full" shape="round" color="dark" (click)="cadastro()">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Sign Up
      </ion-button>

      <ion-button expand="full" shape="round" color="dark" (click)="login()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Login
      </ion-button>

      <ion-button expand="full" shape="round" fill="clear" color="success" (click)="setOpen(true)">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        Sobre o aplicativo
      </ion-button>

    </div>
  </div>
</ion-content>

